
**.ipynb_checkpoints/
**/.ipynb_checkpoints/
**/.DS_Store
**articles
**examples
**other material
**.docx
**.xlsx
**.pdf
**.pptx
**.DS_Store
**.png
**archive
**.html
**.zip
**/tmp
**.mp4
value_at_risk
value-at-risk-main
VaR
w6/.ipynb_checkpoints
w8/DATA618_W8_BlackScholes.pdf
DATA618_w3_2023 Capital Gains Tax Calculator.pdf
DATA618 W3 Scenario3 Morningstar Investor.pdf



